In [1]:
# -*- coding: utf-8 -*-
%matplotlib inline

# import
import pandas as pd
from pandas import DataFrame
import numpy as np
from scipy.optimize import curve_fit
from scipy.optimize import leastsq 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_2 = pd.read_csv("j8-100.csv")
df_3 = pd.read_csv("j8-1000.csv")
df_4 = pd.read_csv("j8-10000.csv")
df_5 = pd.read_csv("j8-100000.csv")

In [6]:
df_2.describe()

             100
count  23.000000
mean   49.217391
std     5.107539
min    40.000000
25%    46.000000
50%    48.000000
75%    54.000000
max    56.000000

In [7]:
df_3.describe()

             100
count  23.000000
mean   49.217391
std     5.107539
min    40.000000
25%    46.000000
50%    48.000000
75%    54.000000
max    56.000000

In [11]:
df_4.describe()

             10000
count    23.000000
mean   4984.347826
std      49.430032
min    4901.000000
25%    4945.500000
50%    4990.000000
75%    5020.500000
max    5065.000000

In [12]:
df_5.describe()

             100000
count     23.000000
mean   50061.565217
std      179.521036
min    49647.000000
25%    49978.000000
50%    50073.000000
75%    50145.500000
max    50450.000000

In [13]:
48/360

0.13333333333333333

In [14]:
96/360

0.26666666666666666