In [1]:
# -*- coding: utf-8 -*-
%matplotlib inline

# import
import pandas as pd
from pandas import DataFrame
import numpy as np
from scipy.optimize import curve_fit
from scipy.optimize import leastsq 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
d =[[1.000000e-03, 1228.8e+00],
    [1.000000e-04, 4.047e+03],
    [1.000000e-05, 20.06e+03],
    [1.000000e-06, 129.9e+03],
    [1.000000e-07, 4.614e+06],
    [1.000000e-08, 87.97e+06]]

df0 = DataFrame(d, columns=["I","R"])
df0

              I           R
0  1.000000e-03      1228.8
1  1.000000e-04      4047.0
2  1.000000e-05     20060.0
3  1.000000e-06    129900.0
4  1.000000e-07   4614000.0
5  1.000000e-08  87970000.0

In [6]:
I = np.array(df0["I"])
R = np.array(df0["R"])